* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

html{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: 240px  1fr;
    grid-template-rows:  .8fr repeat(4, 1fr);
    grid-template-areas: "sidebar header "
                        "sidebar main-content "
                        "sidebar main-content "
                        "sidebar main-content "
                        "sidebar main-content ";
}

.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 8em;
    grid-auto-rows: minmax(min-content, max-content);
    background-color: #26a4da;
    color: white;
    padding-left: 1em;
    gap: 50px;
    font-size: 1.2em;
    font-weight:900;
}
svg{
    vertical-align: bottom;
    padding-right: 5px;
}

.dashBoard{
    font-size: 1.4em;;
    justify-self: left;
    align-self: center;
}

.navigation{
    display: grid;
    justify-content:left;
    align-self:stretch;
    font-size: 1.1em;
    gap: 2rem;
}

.branding{
    display: grid;
    justify-content:left;
    align-self: stretch;
    font-size: 1.1em;
    gap: 2rem;
}

.navigation svg{
    height: 1.3em !important; 
    width: 1.3em !important;
    padding-top: .3em;
}

.branding svg{
    height: 1.3em !important; 
    width: 1.3em !important;
}

.branding div:hover, .navigation div:hover{
    color: #0276a8;
}

.header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: .5fr .5fr;
}

.topHeader{
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: space-between;
    padding-left: 3em;
}

.topHeader div svg{
    height: 2em !important;
    width: 2em !important;
}
.searchBar{
    width: 100%;
}

.search{
    border-radius: 10px;
    border: none;
    background-color: rgb(231, 235, 240);
    height: 2.2em;
    width: 70%;
}

.search:hover{
    background-color: rgba(3, 69, 150, 0.521);
}

.userNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: fit-content;
    padding-right: 5em;
    font-weight: bolder;
}

.profPic{
    border-radius: 50%;
    object-fit:cover;
}

.userNav img{
    width: 4rem;
    height: 4rem;
    margin: 0em 1em;
}

.botHeader{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    padding-left: 2em;
}

.botHeader img{
    width: 5.5rem;
    height: 5.5rem;
}

.userMessage{
    display: flex;
    align-items: center;
    padding-left: 0em;
    justify-content: baseline;
}

h1{
    font-size: 1.4rem;
    padding-left: .5em;
}

h2{
    font-size: .7rem;
    padding-left: 1em;
}

.userAction{
    align-self: center;
    justify-content: center;
    padding-right: 3em;
}

button{
    margin: 0em .9em;
    width: 7em;
    height: 2.8em;
    font-size: .9em;
    border-radius: 19px;
    border: none;
    background-color: #26a4da;
    color: white;
    font-weight: bolder;
}

button:hover{
    background-color: #0276a8;
}

.main-content{
    grid-area: main-content;
    display: grid;
    background-color:rgb(231, 235, 240);
    grid-template-columns: 1fr 350px;
    padding-top: 1em;
    padding-bottom: 2em;
    box-shadow: 1px -2px 1px 0px rgb(207, 197, 197);
}

.projects{
    display:flex;
    flex-direction: column;
    padding: 1em;
}

.projects h1{
    margin-bottom: .8em;
    font-size: 1.3em;
}

.projectContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em;
    flex-grow: 1;
    border-radius: 10px;
}

.projectItem{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(207, 197, 197);
    border-left: rgb(255, 199, 95) solid 9px;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    line-height: 1.4em;
    justify-content: space-between;
}

.projectItem h1{
    font-size: 1.1em;  
    margin: 0em;
    padding: 0em;
}

.projectItem p{
    color:rgb(156, 156, 156);
}

.projectButtons{
    align-self: flex-end;
    
}

.sideContent{
    display: grid;
    box-sizing:border-box;
}

.announcements{
    display: flex;
    flex-direction: column;
}

.announcements .title{
    margin-top: 1em;
    padding-left: 1em;
    font-size: 1.3em;
}

.announcementContent{
    flex-grow: .9;
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em 1.9em;
    box-shadow: 2px 2px 5px 1px rgb(207, 197, 197);
}

.announcementItems{
    flex-grow: .3;
    display: flex;
    align-self: left;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.2em;
    line-height: 1.2em;
}

.announcementItems h1{
    font-size: 1em;
    margin-bottom: .2em;
}

.announcementItems p{
    color: rgb(156, 156, 156);
    padding-left: .6em;
    font-size: .9em;
}

.announcementItems:nth-child(2){
    border-top: rgb(180, 178, 178) solid 1px;
    border-bottom: rgb(192, 191, 191) solid 1px;
}

.trending{
    display: flex;
    flex-direction: column;
}

.trending .title{
    margin-top: 1em;
    padding-left: 1em;
    font-size: 1.3em;
}

.trendingContent{
    flex-grow: .7;
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em 0em;
    box-shadow: 2px 2px 5px 1px rgb(207, 197, 197);
}

.trendingItems{
    flex-grow: .3;
    display: flex;
    align-items: center;
    margin-left: 1.5em;
    overflow: hidden;
}

.trendingText{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.trendingText h1{
    font-size: 1.1em;
    font-weight: 100;
}

.trendingText p{
    padding-left: 1em;
    font-size: .9em;
    color: rgb(156, 156, 156);
    font-weight: lighter;
}

.trendingItems img{
    height: 4rem;
    width: 4rem;
}